<!-- memos容器 -->
<div id="memos"></div>
<div id="bber">
    <!-- Memos 骨架屏 -->
    <div class="memos-skeleton-container">
        <div class="memos-skeleton-item">
            <div class="memos-skeleton-header">
                <div class="memos-skeleton-time"></div>
            </div>
            <div class="memos-skeleton-content">
                <div class="memos-skeleton-line"></div>
                <div class="memos-skeleton-line short"></div>
                <div class="memos-skeleton-line medium"></div>
            </div>
            <div class="memos-skeleton-tags">
                <div class="memos-skeleton-tag"></div>
                <div class="memos-skeleton-tag"></div>
            </div>
        </div>
        <div class="memos-skeleton-item">
            <div class="memos-skeleton-header">
                <div class="memos-skeleton-time"></div>
            </div>
            <div class="memos-skeleton-content">
                <div class="memos-skeleton-line"></div>
                <div class="memos-skeleton-line medium"></div>
            </div>
            <div class="memos-skeleton-tags">
                <div class="memos-skeleton-tag"></div>
            </div>
        </div>
        <div class="memos-skeleton-item">
            <div class="memos-skeleton-header">
                <div class="memos-skeleton-time"></div>
            </div>
            <div class="memos-skeleton-content">
                <div class="memos-skeleton-line"></div>
                <div class="memos-skeleton-line short"></div>
                <div class="memos-skeleton-line long"></div>
                <div class="memos-skeleton-line medium"></div>
            </div>
            <div class="memos-skeleton-tags">
                <div class="memos-skeleton-tag"></div>
                <div class="memos-skeleton-tag"></div>
                <div class="memos-skeleton-tag"></div>
            </div>
        </div>
    </div>
</div>